pipeline/Assignment6-Q5-Threshold-Copy.json
{
	"name": "Assignment6-Q5-Threshold-Copy",
	"properties": {
		"activities": [
			{
				"name": "DB Record Check",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as recordcount from saleslt.customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "customer_sql_dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "If count greater than 200",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Threshold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(activity('DB Record Check').output.firstRow.recordcount), int(activity('Get Threshold').output.firstRow.Prop_0))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy customer to SDLS JSON",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "customer_sql_dataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Customer_to_JSON",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Threshold",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DB Record Check",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Threshold_DS",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}